.container1 {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  gap: 45px;

  .content-1 {
    height: 500px;
    width: 450px;
  }

  .img-1 {
    height: 500px;
    width: 500px;
  }

  .image1 {
    width: 655px;
    height: 500px;
    object-fit: cover;
    overflow-y: visible;
  }

  .span-1 {
    color: #17b978;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: "Open Sans", sans-serif;
  }

  .content-1-head {
    font-size: 60px;
    font-weight: 900;
    font-family: "Raleway", sans-serif;
    color: #263b5e;
  }

  .button-1 {
    color: white;
    background-color: #17b978;
    border-radius: 30px;
    padding: 17px 18px;
    border: none;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-family: "Open Sans", sans-serif;
  }

  .para1 {
    color: rgb(119, 115, 115);
    line-height: 30px;
    margin-bottom: 20px;
    font-size: 19px;
  }
}

.logos-div {
  display: flex;
  justify-content: center;
  // max-width: 1500px;
  // margin: auto;
  gap: 50px;
  margin-top: 70px;

  .logos {
    height: 65px;
    width: 160px;
  }
}

.container2 {
  display: flex;
  max-width: 1500px;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: auto;
  margin-top: 65px;

  .about-img {
    height: 650px;
    width: 510px;
  }

  .About-text {
    width: 480px;
  }

  .About-head1 {
    color: rgb(6, 42, 88);
    font-size: 50px;
  }

  .About-head3 {
    color: rgb(6, 42, 88);
    font-size: 23px;
  }

  .About-para {
    color: rgb(150, 152, 168);
    line-height: 27px;
    font-size: 16px;
  }
}

.container3 {
  margin: auto;
  max-width: 1500px;
  display: flex;
  column-gap: 30px;
  justify-content: center;
  
  margin-top: 65px;

  .box {
    text-align: center;
    height: 150px;
    width: 270px;
    background-color: aliceblue;
    line-height: 10px;
  }

  .box-count {
    color: rgb(6, 42, 88);
    font-size: 35px;
    font-weight: 600;
  }

  .box-text {
    color: rgb(170, 175, 179);
  }
}

@media (max-width: 950px) {
  .container1{
    position: relative;
    height: 702px;
    width: 100%;

    .content-1{
      position: relative;
      z-index: 2;
      width: 100%;
      text-align: center;
      align-content: center;
      padding: 45px;
      top: 111px;
      
    }
    .content-1-head {
      font-size: 58px;
      font-weight: 900;
      line-height: 1.3;
    }
    .img-1{
      position: absolute;
      z-index: 1;
      opacity: 0.5;
      width: 100%;
      height: 702px;
    }
    .image1{
      height: 685px;
      width: 100%;
    }
    .button-1:hover{
      color: black;
    }
    .para1{
      color: black;
    }
  }
  .logos-div{
    flex-direction: column;
    align-items: center;
    .logos{
      width: 270px;
      height: 100px;
    }
  }
  .container2{
            max-width: 693px;
              margin-left: 155px;
    .about-img{
      height: 886px;
        width: 337px;
        object-fit: cover;
        margin-top: 40px;
    }
  }
}